<div class="invoice-email-details">
    <p class="invoice-email-details-lead">Copy into your email app:</p>
    <dl class="invoice-email-details-list">
        <div class="invoice-email-details-row">
            <dt>To</dt>
            <dd>{% if email_details.to %}{{ email_details.to }}{% else %}<em>Add customer email in Customers</em>{% endif %}</dd>
        </div>
        <div class="invoice-email-details-row">
            <dt>Subject</dt>
            <dd>{{ email_details.subject }}</dd>
        </div>
        <div class="invoice-email-details-row invoice-email-details-body">
            <dt>Message</dt>
            <dd><pre class="invoice-email-details-pre">{{ email_details.body }}</pre></dd>
        </div>
        <div class="invoice-email-details-row">
            <dt>PDF file</dt>
            <dd><code class="invoice-email-details-path">{{ email_details.pdf_path }}</code></dd>
        </div>
    </dl>
</div>
