<fieldset class="form-fields-group tax-fields-group">
    <legend class="form-fields-legend">GST &amp; ABN</legend>
    <div class="form-fields-inner">
        {% set gst_registered = gst_registered|default(form.gst_registered|default(false)) %}
        {% include "_gst_registration_fields.html" %}
        <div class="form-group">
            <label for="business_abn" id="business_abn_label">Business ABN</label>
            <input type="text" name="business_abn" id="business_abn" value="{{ form.business_abn|default('') }}" placeholder="{{ ph.business_abn }}">
        </div>
    </div>
</fieldset>
