{% extends "base.html" %}



{% block title %}Your details · {{ brand_name }}{% endblock %}



{% block content %}



<h1>Your details</h1>



<p class="home-intro">Business and bank details shown on sales tax invoices.</p>







{% if error %}



<div class="error">{{ error }}</div>



{% endif %}







<form method="POST">



    <div class="form-group">



        <label for="business_name">Business Name</label>



        <input type="text" name="business_name" id="business_name" value="{{ settings.business_name }}" placeholder="{{ ph.business_name }}">



    </div>







    <div class="form-group">



        <label for="business_address">Business Address</label>



        <textarea name="business_address" id="business_address" placeholder="{{ ph.business_address }}">{{ settings.business_address }}</textarea>



    </div>







    <div class="form-group">



        <label for="business_abn">Business ABN</label>



        <input type="text" name="business_abn" id="business_abn" value="{{ settings.business_abn }}" placeholder="{{ ph.business_abn }}">



    </div>







    <div class="form-group">



        <label for="bsb">Bank BSB</label>



        <input type="text" name="bsb" id="bsb" value="{{ settings.bsb }}" placeholder="{{ ph.bank_bsb }}">



    </div>







    <div class="form-group">



        <label for="account_name">Account Name</label>



        <input type="text" name="account_name" id="account_name" value="{{ settings.account_name }}" placeholder="{{ ph.bank_account_name }}">



    </div>







    <div class="form-group">



        <label for="acc">Bank Account Number</label>



        <input type="text" name="acc" id="acc" value="{{ settings.acc }}" placeholder="{{ ph.bank_account_number }}">



    </div>







    {% set legend = "Default payment due" %}
    {% include "_due_rule_fields.html" %}



    <p class="due-rule-settings-note">Example due date for an invoice issued today: <strong>{{ due_date_preview }}</strong></p>







    <div class="form-group">



        <label for="invoice_counter">Next Invoice Number</label>



        <input type="number" name="invoice_counter" id="invoice_counter" value="{{ settings.invoice_counter }}" min="1" required placeholder="{{ ph.invoice_counter }}">



    </div>







    <button type="submit" class="btn btn-primary">Save</button>



</form>



<script>

(function () {

    var fieldset = document.querySelector(".due-rule-fieldset");

    if (!fieldset) {

        return;

    }

    var netDaysInput = document.getElementById("due_net_days");

    fieldset.addEventListener("change", function (event) {

        if (!event.target.classList.contains("due-rule-radio")) {

            return;

        }

        var netSelected = event.target.value === "net_days";

        if (netDaysInput) {

            netDaysInput.disabled = !netSelected;

        }

    });

})();

</script>



{% endblock %}


